[submodule "adhoc/account-financial-tools"]
	path = adhoc/account-financial-tools
	url = git@github.com:juanpgarza/account-financial-tools.git
	branch = 17.0
[submodule "adhoc/account-invoicing"]
	path = adhoc/account-invoicing
	url = git@github.com:juanpgarza/account-invoicing-adhoc.git
	branch = 17.0
[submodule "adhoc/account-payment"]
	path = adhoc/account-payment
	url = git@github.com:juanpgarza/account-payment.git
	branch = 17.0
[submodule "adhoc/aeroo_reports"]
	path = adhoc/aeroo_reports
	url = git@github.com:juanpgarza/aeroo_reports.git
	branch = 17.0
[submodule "adhoc/argentina-sale"]
	path = adhoc/argentina-sale
	url = git@github.com:juanpgarza/argentina-sale.git
	branch = 17.0
[submodule "adhoc/odoo-argentina-ee"]
	path = adhoc/odoo-argentina-ee
	url = git@github.com:juanpgarza/odoo-argentina-ee.git
	branch = 17.0
[submodule "adhoc/odoo-argentina"]
	path = adhoc/odoo-argentina
	url = git@github.com:juanpgarza/odoo-argentina.git
	branch = 17.0
[submodule "sumitec/account-addons"]
	path = sumitec/account-addons
	url = git@github.com:sumitec-odoo/account-addons.git
	branch = 17.0
[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:juanpgarza/server-ux.git
	branch = 17.0
[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:juanpgarza/web
	branch = 17.0

[submodule "adhoc/sale"]
	path = adhoc/sale
	url = git@github.com:juanpgarza/sale.git
	branch = 17.0

[submodule "adhoc/stock"]
	path = adhoc/stock
	url = git@github.com:juanpgarza/stock.git
	branch = 17.0

[submodule "OCA/sale-workflow"]
	path = OCA/sale-workflow
	url = git@github.com:juanpgarza/sale-workflow.git
	branch = 17.0
[submodule "adhoc/miscellaneous"]
	path = adhoc/miscellaneous
	url = git@github.com:juanpgarza/miscellaneous.git
	branch = 17.0
[submodule "adhoc/product"]
	path = adhoc/product
	url = git@github.com:juanpgarza/product.git
	branch = 17.0
[submodule "adhoc/purchase"]
	path = adhoc/purchase
	url = git@github.com:juanpgarza/purchase.git
	branch = 17.0
[submodule "OCA/stock-logistics-workflow"]
	path = OCA/stock-logistics-workflow
	url = git@github.com:juanpgarza/stock-logistics-workflow.git
	branch = 17.0
[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:juanpgarza/partner-contact.git
	branch = 17.0
[submodule "OCA/sale-reporting"]
	path = OCA/sale-reporting
	url = git@github.com:juanpgarza/sale-reporting.git
	branch = 17.0
[submodule "OCA/product-attribute"]
	path = OCA/product-attribute
	url = git@github.com:juanpgarza/product-attribute.git
	branch = 17.0
